/* layout/general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.m-nav-links {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

nav {
  background-color: rgba(22, 29, 37, 1);
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: .5px solid white;
}

nav.nav-bar div {
  line-height: 60px;
}

.brand {
  font-size: 30px;
  font-family: 'Righteous', cursive;
}

.brand span {
  color: #DB5800;
}

.brand a {
  color: white;
  text-decoration: none;
}

nav span.nav-links {
  float: right;
}

nav span.nav-links a {
  padding: 10px;
  height: 40px;
  color: white;
  text-decoration: none;
}

nav span.nav-links a:hover {
  background-color: #DB5800;
}

nav span.nav-links {
  margin: 0 10px;
}

nav #search-form {
  display: inline-block;
  position: relative;
}

nav #search-form input[type="text"] {
  height: 35px;
  padding: 15px;
}

nav #search-form i.fa-search {
  color: #444;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.padding-top {
  padding-top: 100px;
}

/* Footer */

footer {
  color: white;
  min-height: 100px;
  background-color: rgba(22, 29, 37, 1);
}

footer .contacts {
  display: flex;
}

footer .contacts div{
  width: 300px;
  margin: 0px 5px;
}

footer .contacts .brand-message {
  margin-top: 20px;
}


footer .contacts li.f-nav-heading {
  text-align: center;
  background-color: #006899;
  padding: 10px;
}

footer .contacts li{
 list-style: none;
 border-bottom: #3c3c3c solid .5px;
}

footer .contacts li a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  color: white;
  text-decoration: none;
}

footer .contacts li a:hover {
  background-color: #DB5800;
}

footer .contacts li.f-contacts-heading {
  text-align: center;
  background-color: #008F68;
  padding: 10px;
}

footer .legal {
  font-size: 12px;
  padding: 10px 0px;
  border-top: .5px white solid;
  min-height: 20px;
}

footer .legal span {
  display: inline-block;
  padding: 0px 10px;
}

/* landing */
.content {
  padding-top: 60px;
}

.landing {
  height: 100%;
}

.landing header.hero {
  background-image: url("https://wallpaperscraft.com/image/background_tools_drawings_patterns_18527_960x544.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #444;
}

.landing header.hero .headline {
  padding-right: 500px;
  padding-top: 110px;
}

.landing header.hero p {
  font-size: 30px;
  color: white;
}

.landing header.hero a {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    display: inline-block;
    margin-top: 31px;
}

.landing header.hero a:hover {
  background-color: #DB5800;
  color: white;
}

.paddings {
  padding: 30px 0px;
}

.intro {
  min-height: 100px;
}

.intro .title {
  text-align: center;
  margin: 0 auto 20px;
  padding: 20px;
  width: 480px;
  border-bottom: 1px #444 solid;
}

.intro .card-container {
  display: flex;
  width: 100%;
}

.intro .cards {
  padding: 30px 40px;
  width: 50%;
}

.intro .cards .icon {
    text-align: left;
    font-size: 55px;
    padding-bottom: 10px;
}

.intro .cards h3 {
  padding-bottom: 10px;
}

.intro .cards li {
  padding-bottom: 10px;
}

.intro .upc-search {
  text-align: center;
  padding: 30px 0px 20px;
  margin-top: 20px;
  border-top: 1px #444 solid;
}

.intro .upc-search form input[type="text"] {
  margin-top: 30px;
  width: 70%;
  padding: 20px;
  font-size: 25px;
}

/* forms */

.standard-form {
  padding-top: 100px;
  padding-bottom: 50px;
}

.standard-form input {
  display: inline-block;
  padding: 10px;
  width: 300px;
  margin: 10px;
}

.standard-form input[type="submit"] {
  background-color: transparent;
  box-shadow: none;
}

.standard-form input[type="submit"]:hover {
  background-color: #DB5800;
  color: white;
}

.standard-form form {
  text-align: center;
  margin: 0 auto;
  width: 350px;
}

.standard-form h3 {
  padding: 20px 0px;
  font-size: 30px;
  text-align: center;
}

/* manual browse */
.all-products {
  padding-bottom: 50px;
}

.all-products h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
}

.product-results {
  margin: 20px 0px;
}

.product-item {
  text-align: center;
  border-bottom: 2px solid white;

}

.product-item a {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #d3f1ff;
  color: #444;
  display: inline-block;
  text-decoration: none;
}

.product-item a:hover {
  background-color: #86c1dd;
  color: white;
}


/* manual show */
.manual-show {
  padding-bottom: 50px;
}

.manual-show h1 {
  padding: 0px 0px 20px;
}

.manual-show h3 {
  padding: 20px 0px;
}

.manual-show .all-reviews-container .one-review p {
  padding-bottom: 10px;
}

.manual-show .all-reviews-container .one-review {
  border-bottom: 1px solid #f0995f;
  padding: 10px;
  font-size: 13px;
}

.manual-show .all-reviews-container .one-review .reviewer {
  font-size: 13px;
}

.manual-show .all-reviews-container .one-review .difficult {
  font-size: 13px;
  font-weight: bold;
}

.manual-show .all-reviews-container .one-review .difficult span {
  padding-left: 10px;
}

.manual-show .all-reviews-container .one-review .edit-review form {
  display: inline-block;
}

.manual-show .all-reviews-container .one-review .edit-review input[type="submit"] {
  display: inline-block;
  padding: 5px;
}

.manual-show input[type="submit"] {
  padding: 5px;
  background-color: grey;
  color: white;
  border: none;
}

.manual-show input[type="submit"]:hover {
  background-color: #DB5800;
}


/* user profile */
.user-profile h1 {
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.user-profile h3 {
  padding: 10px 0px 5px;
  border-bottom: 1px solid #444;
}

.user-profile {
  padding: 0px 0px 50px;
}

.user-reviews {
  padding: 20px 0px;
}

.user-reviews li {
  list-style: none;
  padding: 10px;
}

.user-profile .ar-link {
  margin-bottom: 20px;
}

.user-profile .ar-link a {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: grey;
}

.user-profile .ar-link a:hover {
  background-color: #DB5800;
}

/* review */
.edit-review {
  padding-bottom: 50px;
}

.edit-review {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.new-review-form h3 {
  padding-bottom: 20px;
}

.new-review-form textarea {
  width: 250px;
  height: 100px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
}

.new-review-form select {
  display: inline-block;
  margin-bottom: 10px;
}

.new-review-form label {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
}

.new-review-form input[type="submit"] {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}


.new-review-form .standard-form {
  padding: 0px;
}

.new-review-form .standard-form input[type="submit"] {
  background-color: grey;
}

.new-review-form .standard-form input[type="submit"]:hover {
  background-color: #DB5800;
}

.new-review-form .standard-form label {
  font-weight: bold;
  font-size: 16px;
}

.new-review-form .standard-form select {
  width: 250px;
}

.new-review-form .standard-form {
  margin-top: 20px;
}

/* mobile webiste - iphone 6 plus size only */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  .container {
    width: 400px;
    margin: 0px;
  }


  .landing header.hero .headline {
    padding: 110px 10px;
  }

  .intro .title {
    width: 400px;
  }

  .m-nav-links {
  display: inline-block;
  }

  footer .contacts div {
    width: 380px;
    margin: 0 auto;
    padding: 15px;
  }

  footer .contacts {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .m-nav-links #search {
    margin-left: 15px;
  }

  .mobile-nav {
    line-height: 15px;
    width: 414px;
    background-color: #444;
    padding: 10px;
  }

  .mobile-nav span {
    width: 126px;
    text-align: center;
    display: inline-block;
  }

  .mobile-nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
  }

  nav.nav-bar div {
    line-height: 55px;
  }

  nav .brand {
    margin-left: 15px;
  }

  div.all-products {
    margin-left: 10px;
  }

  section.manual-show {
    margin-left: 10px;
  }

  section.user-profile {
    margin-left: 10px;
  }
}

/* iphone 6 */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 413px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .container {
    width: 375px;
    margin: 0px;
  }

  .m-nav-links {
    display: inline-block;
  }


  .landing header.hero .headline {
    padding: 110px 10px;
  }

  .intro .title {
    width: 375px;
  }


  footer .contacts div {
    width: 375px;
    margin: 0 auto;
    padding: 15px;
  }

  footer .contacts {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .m-nav-links #search {
    padding: 0px;
  }

  .mobile-nav {
    line-height: 15px;
    width: 375px;
    background-color: #444;
    padding: 5px;
  }

  .mobile-nav span {
    width: 108px;
    text-align: center;
    display: inline-block;
  }

  .mobile-nav a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    display: inline-block;
  }

  nav.nav-bar div {
    line-height: 55px;
  }

  nav .brand {
    margin-left: 15px;
  }

  div.all-products {
    margin-left: 10px;
  }

  section.manual-show {
    margin-left: 10px;
  }

  section.user-profile {
    margin-left: 10px;
  }

}

@media only screen
  and (max-device-width: 370px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container {
    width: 320px;
    margin: 0px;
  }

  .m-nav-links {
    display: inline-block;
  }

  .landing header.hero .headline {
    padding: 110px 10px;
  }

  .intro .title {
    width: 320px;
  }
  
  footer .contacts div {
    width: 320px;
    margin: 0 auto;
    padding: 15px;
  }

  footer .contacts {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .m-nav-links #search {
    padding: 0px;
    width: 130px;
  }

  .mobile-nav {
    line-height: 15px;
    width: 320px;
    background-color: #444;
    padding: 5px;
  }

  .mobile-nav span {
    width: 95px;
    text-align: center;
    display: inline-block;
  }

  .mobile-nav a {
    font-size: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
  }

  nav.nav-bar div {
    line-height: 55px;
  }

  nav .brand {
    margin-left: 15px;
  }

  div.all-products {
    margin-left: 10px;
  }

  section.manual-show {
    margin-left: 10px;
  }

  section.user-profile {
    margin-left: 10px;
  }

}
