<section class="padding-top container">
  <div class="all-products">
    <h3>All manuals</h3>
    <div class="product-results">
      <% @products.each do |product| %>
        <div class="product-item">
          <%= link_to "#{product.title}", product_path(product.id) %>
          </div>
      <% end %>
      <% @ikeas.each do |product| %>
        <div class="product-item">
          <%=product.product_name %>
          <img src="<%="http://www.ikea.com#{product.photo_path}"%>" alt="">
          </div>
      <% end %>
    </div>
  </div>
</section>
