<section class="padding-top container">
  <div class="all-products">
    <h3>All manuals</h3>
    <div class="product-results">
      <% @products.each do |product| %>
        <div class="product-item">
          <%= link_to "#{product.name}", product_path(product.id) %><br>
          <%=product.image_url%><br>
          <%=product.title%>
          </div>
      <% end %>
    </div>
  </div>
</section>
