<div class="all-reviews">

  <h3 class="title">Reviews for <%=product.name%></h3>

  <% product.reviews.each do |review| %>
    <%= render partial: "reviews/show", locals: {review: review} %>
  <% end %>
  
</div>
